In [1]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbour in neighbours:
                queue.append(neighbour)
    
    return visited

In [2]:
graph = {'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : ['Amin']}

In [3]:
bfs(graph, 'Amin')

['Amin', 'Nick', 'Mike', 'Wasim', 'Imran', 'Faras']

In [4]:
bfs(graph, 'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']

In [5]:
bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [6]:
# Algoritma Depth-First Search
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)
    print(start)
    for next in graph[start] - visited:
        dfs(graph, next, visited)
    return visited

In [7]:
graph = {'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [8]:
dfs(graph, 'Amin')

Amin
Wasim
Imran
Faras
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [9]:
dfs(graph, 'Wasim')

Wasim
Imran
Faras
Amin
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [10]:
dfs(graph, 'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [12]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Rektor')

Rektor
Warek1
Warek2
Kaprodi3
Dosen F
Dosen G
Kaprodi1
Dosen B
Dosen A
Dosen C
Kaprodi2
Dosen E
Dosen D

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}